# Исключаемые файлы и папки:

# 1. База данных
boiler_data.db

# 2. Папки
reports/
txt/
Удачные версии/
.0_Материалы/

# 3. Файлы
rek_limits.json
Температурный график.xlsx

# 4. Служебные файлы Python и IDE
.venv/
__pycache__/
*.py[cod]
*.log
*.sqlite3

# 5. Резервные копии и временные файлы
*.bak
*.tmp